@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

/* navigation bar */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 5rem;
  height: 10vh;
}

.header_logo {
  font-size: 2rem;
  font-weight: 600;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(
    -50%
  ); /* pulls it back by half its own width, helps in centering the div */
}

.navlist {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0.5rem;
  backdrop-filter: blur(10px);
  border-radius: 2rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.light-toggle {
  cursor: pointer;
}

.header_login {
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}

/* main page */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;
}

/* hero page */

#heading {
  font-size: 5rem;
}

.wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

/* about page */

.location {
  height: 80%;
  width: 100%;
  gap: 1rem;
  display: grid;
  grid-template-areas:
    "top center center right"
    "left center center right"
    "left bottom bottom right";
}

.box1 {
  background-color: red;
  grid-area: top;
}

.box2 {
  grid-area: left;
  background-color: blue;
}

.box3 {
  grid-area: right;
  background-color: yellow;
  background-image: url(https://images.pexels.com/photos/34595480/pexels-photo-34595480.jpeg);
  background-size: cover;
}

.box4 {
  grid-area: bottom;
  background-color: green;
}

.box5 {
  grid-area: center;
  background-color: black;
}
