                /* General */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: #4b4e6d;
}

                /* Transition */

a,
.btn {
  transition: all 300ms ease;
}

                /* Navigation */

nav,
.navlist {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.navlist {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: #000000;
  text-decoration: none;
  text-decoration-color: #000000;
}

a:hover {
  color: #585a56;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(50, 50, 50);
}

.logo {
  font-size: 2rem;
  font-weight: 600;
}

.logo:hover {
  cursor: default;
}

                /* Section */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  min-height: fit-content;  
}

.section-container {
  display: flex;
}

              /* profile section */

#profile {
  display: flex;
  justify-content: center;
  gap: 15rem;
  height: 80vh;
}

.section_pic-container {
  position: relative;
  display: flex;                      /* justify-content: flex-start;    its defaulty applied*/
  height: 500px;
  width: 500px;
  margin: auto 0;
  overflow: hidden;
  border-radius: 50%;
}

.section_pic-container img{
  position: absolute;
  display: block;
  width: 100%;
  object-fit: cover;
}

.section_text {                       /* imp this div doesnt contain flex */
  align-self: center;
  text-align: center;
}

.hero-title {
  font-weight: 600;
  font-size: 4rem;
  cursor: default;
}

.hero-sub-title {
  font-size: 2rem;
  cursor: default;
  margin-bottom: 1.2rem;
}

.socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1.2rem;
  gap: 1rem;
}

.socials-container a{
    font-size: 2rem;
    cursor: pointer;
}

                 /* buttons */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn{
    font-weight: 600;
    transition: all 300ms;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: .1rem solid grey;
}

.btn-color-1:hover,
.btn-color-2:hover {
    cursor: pointer;
} 

.btn-color-1,
.btn-color-2:hover{
    background: darkslategray;
    color: white;
}

.btn-color-1:hover{
    background: #000000;
}

.btn-color-2{
    background: none;
}

.btn-color-2:hover{
    border:  .1rem solid white;
}

                /* about section */

.title{
    text-align: center;
    font-size: 2.5rem;
}

#about{
    position: relative;
}

.about-container{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-details-container{
    flex-direction: column;
    justify-content: center;
}

.about-container,
.about-details-container{
    display: flex;
}

.about-pic{
    border-radius: 2rem;
    max-width: 100%;
}

.section__pic-container{
    height: 400px;
    width: 800px;
    margin: auto 0;
}

.arrow{
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: #ffffff;
    border-radius: 2rem;
    border: .1rem solid gray;
    border-color: #808080;
    text-align: center;
}

.section-container{
    gap: 4rem;
    height: 80%;
}

.arrow{
    font-size: 3rem;
}

               /* project section */

#project{
    position: relative;
}

.project-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: .5rem;
}

.color-container{
    border-color: slategray;
    background: whitesmoke;
}

.project-img{
    border-radius: 2rem;
    width: 70%;                             
    height: 80%;
}

.project-title{
    margin: 1rem;
    color: #000000;
}

.project-btn{
    color: rgb(0, 0, 0);
    border-color: gray;
}

/* contact section */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: .1rem solid grey;
    border-color: #808080;
    background: whitesmoke;
    margin: 2rem auto;
    padding: 1rem;
}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    margin: 1rem;
}

.contact-info-container p{
    font-size: larger;
}

.contact-icon{
    cursor: default;
}

.icon{
    font-size: 2rem;
}

/* footer */

footer{
    height: 26vh;
    margin: 0 1rem;
}

footer p{
    text-align: center;
}