@keyframes fadeMove {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.box {
  animation: fadeMove 2s ease-in;
  animation-range: entry 0% cover 30%;
}
