@media screen and (max-width: 1300px) {
  section {
    margin: 0 5rem;
  }

  #profile {
    gap: 10rem;
  }

  .arrow {
    right: -2rem;
    bottom: 12rem;
  }
}

@media screen and (max-width: 1050px) {
  section {
    margin: 0 5rem;
  }

  #profile {
    gap: 5rem;
  }

  .hero-title{
    font-size: 3rem;
  }

  .hero-sub-title{
    font-size: 1.5rem;
  }

  #project {
    margin-bottom: 5rem;
  }

  .arrow {
    display: none;
  }

  .about-container {
    flex-direction: column;
  }

  .details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .navlist {
    display: none;
  }

  #navbar {
    justify-content: center;
  }

  #profile {
    flex-direction: column;
    gap: 2rem;
    margin: 5rem auto;
  }

  .section_pic-container {
    width: 50%;
  }

  .section-container {
    flex-direction: column;
    
  }

  .title{
    margin-bottom: 3rem;
  }

  .section__pic-container {
    width: 400px;
    height: 400px;
    align-self: center;
    display: flex;
  }

  .about-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  

  

  /* important part */

  section{
    height: 100%;
    margin: 5rem 5rem;
  }

  /* *************** */

  .footnav{
    display: none;
  }

  footer{
    height: 5vh;
  }
}
